@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import "tailwindcss";
@import "./color.css";
@import "./theme.css";

@layer base {
  body {
    font-family: 'Noto Sans TC', serif;
    font-size: 16px;
    color: theme(color-text-body);
    background: theme(color-background-surface-body);
  }
}