  [data-theme="primary"] {
    --color-text-body: theme(color-white);
    --color-text-tab-normal: theme(color-beige-400);
    --color-text-tab-focus: theme(color-beige-400);
    --color-text-button-primary-normal: theme(color-beige-400);

    --color-background-surface-body: theme(color-grey-900);
    --color-background-button-primary-normal: theme(color-beige-400);
    --color-background-button-primary-hover: theme(color-beige-400);
    --color-background-button-primary-active: theme(color-beige-400);

    --color-border-tab: theme(color-beige-400);
  }