@theme {
  --color-text-primary: var(--color-text-primary);
  --color-text-body: var(--color-text-body);
  --color-text-tab-focus: var(--color-text-tab-focus);
  --color-text-button-primary-normal: var(--color-text-button-primary-normal);
  --color-text-button-secondary-normal: var(--color-text-button-secondary-normal);

  --color-background-surface-body: var(--color-background-surface-body);
  --color-background-button-primary-normal: var(--color-background-button-primary-normal);
  --color-background-button-primary-hover: var(--color-background-button-primary-hover);
  --color-background-button-primary-active: var(--color-background-button-primary-active);
  --color-background-button-secondary-normal: var(--color-background-button-secondary-normal);

  --color-border-tab: var(--color-border-tab);
}

[data-theme='primary'] {
  --color-text-primary: theme(color-beige-300);
  --color-text-body: theme(color-white);
  --color-text-tab-focus: theme(color-beige-400);
  --color-text-button-primary-normal: theme(color-grey-900);
  --color-text-button-secondary-normal: theme(color-white);

  --color-background-surface-body: theme(color-grey-900);
  --color-background-button-primary-normal: theme(color-beige-300);
  --color-background-button-primary-hover: theme(color-beige-100);
  --color-background-button-primary-active: theme(color-beige-400);
  --color-background-button-secondary-normal: theme(color-grey-800);

  --color-border-tab: theme(color-beige-400);
}
